# ===============================
# Python Virtual Environments
# ===============================
venv/
.env_venv/
lms_env/
lms_env1/
l_env/
hr_env2/

# ===============================
# Python Cache / Bytecode
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Environment Variables / Secrets
# ===============================
.env
.env.*

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Test / Local DB files
# ===============================
test.db
test_dept.db
test_org.db
